Repository bounswe/bounswe2019group7, pull requests merged in 2019-12, with the labels that each got.

#268 "My Articles" in Articles Page
  TradersAppAndroid/app/build.gradle
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Activities/HomepageActivity.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/ArticleTabAdapter.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/ArticleBaseFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/ArticleFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/TradersApi.kt
  TradersAppAndroid/app/src/main/res/layout/fragment_article_base.xml
  TradersAppAndroid/app/src/main/res/layout/tab_bar.xml
  TradersAppAndroid/app/src/main/res/values/strings.xml
  TradersAppAndroid/app/src/main/res/values/styles.xml
Labels: Android, Type: New Feature

#271 Backend emir annotation
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/AnnotationController.java
  backend/src/main/java/com/eyetrade/backend/controller/ArticleController.java
  backend/src/main/java/com/eyetrade/backend/controller/CommentController.java
  backend/src/main/java/com/eyetrade/backend/controller/UserFollowingController.java
  backend/src/main/java/com/eyetrade/backend/mapper/AnnotationMapper.java
  backend/src/main/java/com/eyetrade/backend/mapper/UserMapper.java
  backend/src/main/java/com/eyetrade/backend/model/dto/AnnotationDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/Annotation.java
  backend/src/main/java/com/eyetrade/backend/model/resource/annotation/AnnotationResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/user/MinimalUserResource.java
  backend/src/main/java/com/eyetrade/backend/repository/AnnotationRepository.java
  backend/src/main/java/com/eyetrade/backend/service/AnnotationService.java
Labels: Backend, Effort: Few Hours, Priority: Medium, Status: Needs Review, Type: New Feature

#272 Backend Emir Adding delete option to comment
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/CommentController.java
  backend/src/main/java/com/eyetrade/backend/service/CommentService.java
Labels: Backend, Effort: Less Than an Hour, Priority: Medium, Status: Needs Review, Type: Bug Fixing

#274 Kutay backend crypto currencies
  backend/src/main/java/com/eyetrade/backend/constants/CryptoCurrencyType.java
  backend/src/main/java/com/eyetrade/backend/constants/CurrencyConstants.java
  backend/src/main/java/com/eyetrade/backend/constants/GeneralConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/CryptoCurrencyController.java
  backend/src/main/java/com/eyetrade/backend/model/dto/currency/CryptoCurrencyConverterDto.java
  backend/src/main/java/com/eyetrade/backend/model/dto/currency/CryptoCurrencyConverterIntervalDto.java
  backend/src/main/java/com/eyetrade/backend/model/dto/currency/CryptoCurrencyConverterLastDaysDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/CryptoCurrencyRecord.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CryptoCurrencyConverterResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CryptoCurrencyIntervalResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CryptoCurrencyLastDaysResource.java
  backend/src/main/java/com/eyetrade/backend/repository/CryptoCurrencyRepository.java
  backend/src/main/java/com/eyetrade/backend/service/CryptoCurrencyService.java
Labels: Backend, Effort: Several Hours, Priority: High, Status: Needs Review, Type: New Feature

#279 Backend emir get back money from account
  backend/src/main/java/com/eyetrade/backend/controller/TransactionController.java
  backend/src/main/java/com/eyetrade/backend/model/dto/transaction/SellTransactionDto.java
  backend/src/main/java/com/eyetrade/backend/model/resource/transaction/SellTransactionResource.java
  backend/src/main/java/com/eyetrade/backend/service/TransactionService.java
Labels: Backend, Effort: Less Than an Hour, Status: Completed, Type: New Feature

#280 Backend Emir Buy Sell Order
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/BuySellOrderController.java
  backend/src/main/java/com/eyetrade/backend/controller/TransactionController.java
  backend/src/main/java/com/eyetrade/backend/mapper/BuySellOrderMapper.java
  backend/src/main/java/com/eyetrade/backend/model/dto/BuySellOrderDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/BuySellOrder.java
  backend/src/main/java/com/eyetrade/backend/model/resource/transaction/BuySellOrderResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/transaction/BuyTransactionResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/transaction/ExchangeTransactionResource.java
  backend/src/main/java/com/eyetrade/backend/repository/BuySellOrderRepository.java
  backend/src/main/java/com/eyetrade/backend/service/BuySellOrderService.java
  backend/src/main/java/com/eyetrade/backend/service/CurrencyRecordService.java
  backend/src/main/java/com/eyetrade/backend/service/TransactionService.java
Labels: Backend, Effort: More Than a Day, Priority: Medium, Status: Completed, Type: New Feature

#281 UserIds are added to resources for using at frontend side
  backend/src/main/java/com/eyetrade/backend/mapper/UserMapper.java
  backend/src/main/java/com/eyetrade/backend/model/resource/user/LoginResource.java
  backend/src/main/java/com/eyetrade/backend/service/LoginService.java
Labels: Backend, Effort: Less Than an Hour, Priority: High, Status: Needs Review, Type: Preview Needed

#282 Editing error codes
  backend/src/main/java/com/eyetrade/backend/controller/CommentController.java
  backend/src/main/java/com/eyetrade/backend/controller/EventController.java
  backend/src/main/java/com/eyetrade/backend/controller/LoginController.java
  backend/src/main/java/com/eyetrade/backend/controller/NotificationController.java
  backend/src/main/java/com/eyetrade/backend/controller/PortfolioController.java
  backend/src/main/java/com/eyetrade/backend/controller/RegistrationController.java
  backend/src/main/java/com/eyetrade/backend/controller/ResetPasswordController.java
  backend/src/main/java/com/eyetrade/backend/controller/UserProfileController.java
  backend/src/main/java/com/eyetrade/backend/service/CommentService.java
  backend/src/main/java/com/eyetrade/backend/service/LoginService.java
Labels: Backend, Effort: Few Hours, Priority: High, Status: Needs Review, Type: Bug Fixing

#296 BackendEmirOğuzhanSearch
  backend/pom.xml
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/SearchController.java
  backend/src/main/java/com/eyetrade/backend/repository/ArticleRepository.java
  backend/src/main/java/com/eyetrade/backend/repository/UserRepository.java
  backend/src/main/java/com/eyetrade/backend/service/SearchService.java
Labels: Backend, Effort: Few Hours, Priority: High, Status: Completed, Type: New Feature

#297 CommentResourceEdition
  backend/src/main/java/com/eyetrade/backend/mapper/CommentMapper.java
  backend/src/main/java/com/eyetrade/backend/model/dto/CommentDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/Comment.java
  backend/src/main/java/com/eyetrade/backend/model/resource/comment/CommentResource.java
Labels: Backend, Effort: Less Than an Hour, Priority: High, Status: Needs Review, Type: Update Feature

#299 Frontend search safak
  frontend/CoreUI-template/src/_nav.js
  frontend/CoreUI-template/src/router/index.js
  frontend/CoreUI-template/src/views/Search.vue
Labels: Effort: Less Than an Hour, Frontend, Type: New Feature

#308 Currency converters merged into one page.
  frontend/CoreUI-template/src/_nav.js
  frontend/CoreUI-template/src/router/index.js
  frontend/CoreUI-template/src/views/CryptoCurrency.vue
  frontend/CoreUI-template/src/views/Currency.vue
Labels: Effort: Less Than an Hour, Frontend, Priority: High, Type: Update Feature

#322 Frontend search
  frontend/CoreUI-template/src/views/Currency.vue
  frontend/CoreUI-template/src/views/Search.vue
Labels: Effort: Few Hours, Frontend, Priority: High, Type: New Feature

#316 Backend emir comment edition and update method
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/CommentController.java
  backend/src/main/java/com/eyetrade/backend/controller/SearchController.java
  backend/src/main/java/com/eyetrade/backend/model/entity/Article.java
  backend/src/main/java/com/eyetrade/backend/model/entity/Event.java
  backend/src/main/java/com/eyetrade/backend/model/entity/User.java
  backend/src/main/java/com/eyetrade/backend/model/resource/search/BasicSearchResource.java
  backend/src/main/java/com/eyetrade/backend/repository/CommentRepository.java
  backend/src/main/java/com/eyetrade/backend/service/CommentService.java
  backend/src/main/java/com/eyetrade/backend/service/SearchService.java
Labels: Backend, Effort: Less Than an Hour, Status: Needs Review, Type: Update Feature
