Repository bounswe/bounswe2019group7, pull requests merged in 2019-11, with the labels that each got.

#204 Frontend delete unnecessary files
  frontend/CoreUI-template/README.md
  frontend/app.js
  frontend/index.html
Labels: Frontend, Priority: Low

#209 Get Events and Point Mechanism
  backend/pom.xml
  backend/src/main/java/com/eyetrade/backend/BackendApplication.java
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/constants/EventConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/CurrencyFollowingController.java
  backend/src/main/java/com/eyetrade/backend/controller/DummyController.java
  backend/src/main/java/com/eyetrade/backend/controller/EventController.java
  backend/src/main/java/com/eyetrade/backend/controller/UserFollowingController.java
  backend/src/main/java/com/eyetrade/backend/controller/UserProfileController.java
  backend/src/main/java/com/eyetrade/backend/model/entity/Event.java
  backend/src/main/java/com/eyetrade/backend/model/entity/EventRssFeed.java
  backend/src/main/java/com/eyetrade/backend/model/resource/EventResource.java
  backend/src/main/java/com/eyetrade/backend/repository/CurrencyFollowingRepository.java
  backend/src/main/java/com/eyetrade/backend/repository/CurrencyRepository.java
  backend/src/main/java/com/eyetrade/backend/repository/EventRepository.java
  backend/src/main/java/com/eyetrade/backend/repository/EventRssFeedRepository.java
  backend/src/main/java/com/eyetrade/backend/repository/UserFollowingRepository.java
  backend/src/main/java/com/eyetrade/backend/security/JwtUserChecker.java
  backend/src/main/java/com/eyetrade/backend/service/EventRssReaderService.java
  backend/src/main/java/com/eyetrade/backend/service/EventService.java
  backend/src/main/java/com/eyetrade/backend/utils/DateUtils.java
  backend/src/test/java/com/eyetrade/backend/BackendApplicationTests.java
  backend/src/test/java/com/eyetrade/backend/EventTests.java
  backend/src/test/java/com/eyetrade/backend/UtilTests.java
Labels: Backend, Effort: More Than a Day

#221 Currency Rates Between Time Interval
  backend/pom.xml
  backend/src/main/java/com/eyetrade/backend/constants/CurrencyConstants.java
  backend/src/main/java/com/eyetrade/backend/constants/EventConstants.java
  backend/src/main/java/com/eyetrade/backend/constants/GeneralConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/CurrencyController.java
  backend/src/main/java/com/eyetrade/backend/model/dto/currency/CurrencyConverterIntervalDto.java
  backend/src/main/java/com/eyetrade/backend/model/dto/currency/CurrencyConverterLastDaysDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/CurrencyFollowing.java
  backend/src/main/java/com/eyetrade/backend/model/entity/CurrencyRecord.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CurrencyConverterResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CurrencyIntervalResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CurrencyLastDaysResource.java
  backend/src/main/java/com/eyetrade/backend/repository/CurrencyRepository.java
  backend/src/main/java/com/eyetrade/backend/service/CurrencyConverterService.java
  backend/src/main/java/com/eyetrade/backend/service/CurrencyFollowingService.java
  backend/src/main/java/com/eyetrade/backend/service/CurrencyRecordService.java
  backend/src/main/java/com/eyetrade/backend/service/EventService.java
  backend/src/main/java/com/eyetrade/backend/service/RegistrationService.java
  backend/src/main/java/com/eyetrade/backend/utils/DateUtils.java
  backend/src/test/java/com/eyetrade/backend/UtilTests.java
Labels: Backend, Effort: Few Hours, Priority: Medium, Status: Needs Review, Type: New Feature

#237 Articles on Android
  TradersAppAndroid/app/build.gradle
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Activities/HomepageActivity.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/ArticleAdapter.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/EventAdapter.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/EventArticleAdapter.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/EyeTradeUtils.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/AddArticleFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/ArticleDetailFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/ArticleFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/ArticleHolder.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/EventArticleFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/EventArticleHolder.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/EventDetailFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/EventFragment.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/Fragments/EventHolder.kt
  TradersAppAndroid/app/src/main/java/com/example/app/tradersapp/TradersApi.kt
  TradersAppAndroid/app/src/main/res/drawable/placeholder.jpg
  TradersAppAndroid/app/src/main/res/layout/article_recycler_item.xml
  TradersAppAndroid/app/src/main/res/layout/event_recycler_item.xml
  TradersAppAndroid/app/src/main/res/layout/fragment_add_article.xml
  TradersAppAndroid/app/src/main/res/layout/fragment_article.xml
  TradersAppAndroid/app/src/main/res/layout/fragment_article_detail.xml
  TradersAppAndroid/app/src/main/res/layout/fragment_event.xml
  TradersAppAndroid/app/src/main/res/layout/fragment_event_article.xml
  TradersAppAndroid/app/src/main/res/layout/fragment_event_detail.xml
Labels: Android

#241 Comment Mechanisms
  backend/pom.xml
  backend/src/main/java/com/eyetrade/backend/controller/CommentController.java
  backend/src/main/java/com/eyetrade/backend/mapper/CommentMapper.java
  backend/src/main/java/com/eyetrade/backend/mapper/Converter.java
  backend/src/main/java/com/eyetrade/backend/model/dto/CommentDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/Comment.java
  backend/src/main/java/com/eyetrade/backend/model/resource/comment/CommentResource.java
  backend/src/main/java/com/eyetrade/backend/repository/CommentRepository.java
  backend/src/main/java/com/eyetrade/backend/service/CommentService.java
Labels: Backend, Effort: Few Hours, Priority: Medium, Status: Needs Review, Type: New Feature

#250 Comments are done
  backend/src/main/java/com/eyetrade/backend/constants/CommentType.java
  backend/src/main/java/com/eyetrade/backend/controller/CommentController.java
  backend/src/main/java/com/eyetrade/backend/model/dto/CommentDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/Comment.java
  backend/src/main/java/com/eyetrade/backend/model/resource/comment/CommentResource.java
  backend/src/main/java/com/eyetrade/backend/repository/CommentRepository.java
  backend/src/main/java/com/eyetrade/backend/service/CommentService.java
Labels: Backend, Effort: Less Than an Hour, Priority: Medium, Status: Needs Review, Type: Bug Fixing

#249 User selfpointing was blocked
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/ArticleController.java
  backend/src/main/java/com/eyetrade/backend/service/ArticleService.java
Labels: Backend, Effort: Less Than an Hour, Priority: Low, Status: Needs Review, Type: Bug Fixing

#248 Backend emir account implementation
  backend/src/main/java/com/eyetrade/backend/constants/ErrorConstants.java
  backend/src/main/java/com/eyetrade/backend/controller/CommentController.java
  backend/src/main/java/com/eyetrade/backend/controller/TransactionController.java
  backend/src/main/java/com/eyetrade/backend/mapper/UserAccountMapper.java
  backend/src/main/java/com/eyetrade/backend/model/dto/transaction/BuyTransactionDto.java
  backend/src/main/java/com/eyetrade/backend/model/dto/transaction/ExchangeTransactionDto.java
  backend/src/main/java/com/eyetrade/backend/model/entity/UserTradingAccount.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CurrencyConverterResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/transaction/BuyTransactionResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/transaction/ExchangeTransactionResource.java
  backend/src/main/java/com/eyetrade/backend/model/resource/transaction/UserAccountResource.java
  backend/src/main/java/com/eyetrade/backend/repository/UserTradingAccountRepository.java
  backend/src/main/java/com/eyetrade/backend/service/CurrencyRateService.java
  backend/src/main/java/com/eyetrade/backend/service/TransactionService.java
Labels: Backend, Effort: Few Hours, Priority: High, Status: Needs Review, Type: New Feature

#252 Logout-CurrencyChartTemplate
  frontend/CoreUI-template/src/_nav.js
  frontend/CoreUI-template/src/containers/DefaultHeaderDropdownAccnt.vue
  frontend/CoreUI-template/src/router/index.js
  frontend/CoreUI-template/src/views/CurrencyCharts.vue
Labels: Frontend

#256 Currency Update Method is injected.
  backend/src/main/java/com/eyetrade/backend/controller/CurrencyController.java
  backend/src/main/java/com/eyetrade/backend/mapper/CurrencyRecordMapper.java
  backend/src/main/java/com/eyetrade/backend/model/resource/currency/CurrencyRecordResource.java
  backend/src/main/java/com/eyetrade/backend/repository/CurrencyRepository.java
  backend/src/main/java/com/eyetrade/backend/service/CurrencyRateService.java
Labels: Backend, Effort: Less Than an Hour, Priority: High, Status: Needs Review, Type: Bug Fixing
